@page
@model WebApp.Pages.ForgotPasswordModel
@{

}
<figure asp-validation-summary="All" class="example">
    <form method="post">
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" asp-for="user.email">
            <span asp-validation-for="user.email" class="text-danger"></span>
            <p></p>
            <label for="password"><b>New Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="user.password1">
            <span asp-validation-for="user.password1" class="text-danger"></span>
            <p></p>
            <label for="password"><b>Repeat Password</b></label>
            <input type="password" placeholder="Enter Password" asp-for="user.password2">
            <span asp-validation-for="user.password2" class="text-danger"></span>

            <p></p>
            <button type="submit">Change Password</button>
        </div>
    </form>
    <div id="validation-messages" class="text-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <span>@error.ErrorMessage</span>
            <br />
        }
    </div>
</figure>