@page
@model WebApp.Pages.ProfileEditModel
@{
}
<div class="container profile-body">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img id="profileImagePreview" src="@Model.user.imageUrl" alt="Profile Image" class="rounded-circle" width="150">
                            <form method="post" enctype="multipart/form-data" asp-page-handler="ChangeImage">
                                <div class="mt-3">
                                    <input type="file" name="ProfileImage" class="form-control" accept="image/*" onchange="previewImage(event)">
                                    @if (TempData["ImageFormError"] != null)
                                    {
                                        <div class="text-danger">@TempData["ImageFormError"]</div>
                                    }
                                    <button type="submit" class="btn btn-info mt-2">Change Image</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form method="post" asp-page-handler="Submit">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" asp-for="UserDetails.username">
                                    <span asp-validation-for="UserDetails.username" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" asp-for="UserDetails.email">
                                    <span asp-validation-for="UserDetails.email" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Password</h6>
                                </div>
                                <div class="col-sm-9 password">
                                    <input type="password" asp-for="UserDetails.password" class="form-control">
                                    <span asp-validation-for="UserDetails.password" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date of Birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" class="form-control" asp-for="UserDetails.dateOfBirth">
                                    <span asp-validation-for="UserDetails.dateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button type="submit" class="btn btn-primary px-4">Save Changes</button>
                                </div>
                                @if (TempData["UserError"] != null)
                                {
                                    <div class="text-danger">@TempData["UserError"]</div>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('profileImagePreview');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}
